.top-margin{
  margin-top: 50px;
}
.mainSection{
  margin-left: 170px;
}
.custom-text{
	font-size: 25px
	font-weight:bolder;
}
.padit{
  padding: 5px;
}
@media only screen and (max-width: 40em) {
  .mainSection{
    margin-left: 0px;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .mainSection{
    margin-left: 0px;
  }
}
